# Configuración Base de Datos
DB_HOST= ****
DB_USER= ****
DB_PASSWORD= ****
DB_NAME= ****
DB_PORT= ****

# Configuración JWT
JWT_SECRET=tu_clave_secreta_muy_segura_aqui

# Configuración Email (Nodemailer)
EMAIL_USER= ****
EMAIL_PASS= ****

# Configuración Cloudinary
CLOUDINARY_CLOUD_NAME= ****
CLOUDINARY_API_KEY= ****
CLOUDINARY_API_SECRET = ****

# Configuración Stripe (Obtener de https://dashboard.stripe.com/test/apikeys)

STRIPE_SECRET_KEY= ****
STRIPE_PUBLISHABLE_KEY = ****
STRIPE_WEBHOOK_SECRET =****

# Puerto del servidor
PORT=3000
