# Configuración Base de Datos
DB_HOST=localhost
DB_USER= Aqui va el usuario de la base de datos, por ejemplo: root
DB_PASSWORD= Aqui va la contraseña de la base de datos, por ejemplo: password
DB_NAME= Aqui va el nombre de la base de datos, por ejemplo: farmacia_db
DB_PORT= 3306

# Configuración JWT
JWT_SECRET=tu_clave_secreta_muy_segura_aqui

# Configuración Email (Nodemailer)
EMAIL_USER= Aqui va el correo electrónico que se usará para enviar los emails, por ejemplo: algo@gmail.com
EMAIL_PASS= Aqui va la contraseña del correo electrónico, por ejemplo: abcd efgh ijkl mnop

# Configuración Cloudinary
CLOUDINARY_CLOUD_NAME= Aqui va el nombre de tu cuenta de Cloudinary, por ejemplo: abcdefg
CLOUDINARY_API_KEY= Aqui va la API Key de tu cuenta de Cloudinary, por ejemplo: 123456789012345
CLOUDINARY_API_SECRET= Aqui va la API Secret de tu cuenta de Cloudinary, por ejemplo: abcdefghijklmnopqrstuvwxyz1234567890
# Configuración Stripe (Obtener de https://dashboard.stripe.com/test/apikeys)
STRIPE_SECRET_KEY= Aqui va la clave secreta de Stripe,
STRIPE_PUBLISHABLE_KEY= Aqui va la clave pública de Stripe,
STRIPE_WEBHOOK_SECRET= Aqui va la clave secreta del webhook de Stripe,

# Puerto del servidor
PORT=3000