# Configuración Base de Datos
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=farmacia_db
DB_PORT=3306

# Configuración JWT
JWT_SECRET=tu_clave_secreta_muy_segura_aqui

# Configuración Email (Nodemailer)
EMAIL_USER=iwdevfull@gmail.com
EMAIL_PASS=rjjc zmvv lbsl dmvj

# Configuración Cloudinary
CLOUDINARY_CLOUD_NAME=dqbczpcfj
CLOUDINARY_API_KEY=375233639764463
CLOUDINARY_API_SECRET=5Is8GWWYljQA-zMWyxB7CGhzlsE

# Configuración Stripe (Obtener de https://dashboard.stripe.com/test/apikeys)
STRIPE_SECRET_KEY=sk_test_51SlMTZRzMSZlBnFhSj8JPlLQ2lvIffmFybiprSgNDn47D1CF1SCPwb63PFTzaagLg3VqEhu5cmzgozzbIpFLLUNl00I2veWBCf
STRIPE_PUBLISHABLE_KEY=pk_test_51SlMTZRzMSZlBnFhs7M1rojvtxR3BtLTMZsjoBDNJglypc8Mgp05Z0eyXz0RWFzUcUgQrNy6QK6GaSBmn4NO4MVW00HaBdBjev
STRIPE_WEBHOOK_SECRET=whsec_dtbsymiqYIeOccqok460NNhPcGFWjrpl

# Puerto del servidor
PORT=3000