# Stripe Publishable Key (clave pública - safe to expose)
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_tu_clave_publica_aqui

# API Backend URL
VITE_API_URL=http://localhost:3000/api

apiKey = "AIzaSyD2mEfJqTV_2n9y0k8E50fCD_9JygtHI84",
authDomain0 = "superfarmacia-9f959.firebaseapp.com",
projectId  = "superfarmacia-9f959",
storageBucket = "superfarmacia-9f959.firebasestorage.app",
messagingSenderId = "706261693244",
appId = "1:706261693244:web:fcbeced2ecfc6b7f82e439",
measurementId = "G-BDZE1KJKBJ"