# Stripe Publishable Key (clave pública - safe to expose)
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_tu_clave_publica_aqui

# API Backend URL
VITE_API_URL= http://localhost:3000/api

apiKey = "Aqui va tu clave de API de Firebase",
authDomain0 = "Aqui va tu dominio de autenticación de Firebase",
projectId  = "Aqui va tu ID de proyecto de Firebase",
storageBucket = "Aqui va tu bucket de almacenamiento de Firebase",
messagingSenderId = "Aqui va tu ID de remitente de mensajes de Firebase",
appId = "Aqui va tu ID de aplicación de Firebase",
measurementId = "Aqui va tu ID de medición de Firebase"S